transformers==4.51.1
unsloth==2025.3.18
unsloth_zoo==2025.3.16
bitsandbytes==0.45.2
torch==2.6.0
xformers==0.0.29.post3
sentencepiece==0.2.0
accelerate==1.5.2
gradio==4.44.1
fpdf==1.7.2
numpy==1.26.4
scipy==1.11.4
pandas==2.1.4
python-dateutil==2.9.0.post0
tqdm==4.67.1
requests==2.32.3
fastapi==0.112.2
huggingface_hub==0.30.0
pydantic==2.8.2